:root {

    --background-color: #1D1D29;
    --dark: #262837;
    --grey: #90909C;
    --white: #FFFFFF;
    --primary: #4B3DDA;
    --warning: #FA8116;
    --success: #009B9B;
    --info: #C930AE;
    

    
}