@use '../abstracts/' as *;

.header {
    position: fixed;
    top: 0;
    right :0;
    left: 0;
    z-index: 1;
    background-color: var(--dark);
    color: var(--white);


    .container {
        height: rem(60);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        padding: 0px;
    }

    .header-logo {
        width: rem(103);
        height: rem(29);
        cursor: pointer;
    }

    .header-search {
        width: rem(268);
        height: rem(36);
        padding: rem(8) rem(16);
        border-radius: rem(8);
        @include flexcenter;
        background-color: var(--background-color);
        color: var(--white);
        position: relative;

        @media(max-width: 640px) {
            display: none;
        }

        .search-icon {
            position: absolute;
            top: 0;
            left: rem(10);
            width: rem(16);
            height: rem(36);
            @include flexcenter;
            color: var(--white);
            cursor: pointer;
        }

        input {
            width: 100%;
            background-color: transparent;
            padding-left: rem(22);

            &::placeholder {
                color: var(--grey);
            }
        }

    }

    .actions {
        display: flex;
        gap: rem(20);

        .user-action {
            position: relative;

            .user-image {
                width: rem(24);
                height: rem(24);
                cursor: pointer;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .user-dropdown-menu {
                position: absolute;
                top: rem(40);
                right: 0;
                background-color: var(--dark);
                width: rem(230);
                border-radius: rem(4);
                transition: 0.5s;
                visibility: hidden;
                opacity: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: rem(-5);
                    right: rem(7);
                    width: rem(12);
                    height: rem(12);
                    background-color: var(--background-color);
                    transform: rotate(45deg);
                    z-index: -1;
                }

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        a {
                            display: flex;
                            padding: rem(8) rem(16);
                            gap: rem(12);
                            color: var(--var);
                            cursor: pointer;

                            &:hover {
                                background-color: #1d1d2971;
                                z-index: -1;
                            }
                        }
                    }
                    .logout {
                        border-top: rem(1) solid var(--background-color);
                        padding: rem(8) rem(16);
                        color: rgb(255, 255, 255);
                        &:hover {
                            background-color: #1d1d2971;
                        }
                    }
                }

            }
            .active {
                top: rem(40);
                visibility: visible;
                opacity: 1;
            }

        }
    }

}

.i-search {
    color: var(--grey);
}
