@use '../abstracts/' as *;

main {

    .container {
        display: flex;
        padding-top: rem(30);
        gap: rem(30);

        .content-main {
            flex: 1;
        }

        .follower-action {
            min-width: rem(293);
        }
    }
}