@use '../abstracts/' as *;

main {
    margin-top: rem(90);

    .container {
        display: flex;
        justify-content: left;
        margin: 0 auto;
        max-width: 1000px;
        gap: 0 rem(30);
        
        @media (max-width: 1024px) {
            justify-content: center;
        }

        .content-main {
            flex: 1;
        }

        .follower-action {
            min-width: rem(293);
        }
    }
}