@use '../abstracts/' as *;

main {
    
    .container {
        display: flex;
        margin-top: rem(30);
        gap: rem(30);
    
        .content-main {
            flex: 1;
        }

        .follower-action {
            width: rem(293);

            @media (max-width: rem(993)) {
                display: none;
            }
        }
    }
}